<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Python Flask MyVaccine App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head> 
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <!-- Navbar content -->
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Stay Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="showSignIn">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="showSignUp">Sign Up</a>
                    </li>                    
                </ul>
            </nav>
            <h3 class="text-muted"><img src="../static/images/stayhome.png" alt="stayhome.png" width="100" height="100" ></h3>
        </div> 
        <div class="jumbotron">
            <h1>MyVaccine</h1>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div> 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Description of the Project</h4>
                <p>My Vaccine is a fast ticket booking system for vaccinations against current new Viruses and their Mutations.</p>
  
                <h4>Git Repository</h4>
                <p><a class="btn btn-lg btn-secondary" href="https://github.com/RunMyProject/MyVaccine.com.Flask" 
                    role="button">https://github.com/RunMyProject/MyVaccine.com.Flask</a></p>
            </div>
            <div class="col-lg-6">
                <h4>Technologies used</h4>
                <p>Python, Flask, GraphQL, Graphene, SQLAlchemy, Bootstrap, JQuery</p>
            </div> 
        </div>
        <footer class="footer">
            <p>&copy; Edoardo Sabatini 2021 - Copyright All Rights Reserved</p>
        </footer>
    </div>
</body> 
</html>
